title = "Checkout"
url = "/checkout"
layout = "default"
is_hidden = 0


==
<?php
use Shipu\Aamarpay\Aamarpay;
use RainLab\User\Models\User;
use Bol\Eshop\Models\District;
use Bol\Eshop\Models\Order;
use Bol\Eshop\Models\OrderItem;
use Bol\Eshop\Models\Cart;

function onStart()
{
    $this['districts'] = District::get();
}


function onSubmitOrder()
{
    $data = post();

    //dd($data);

    $rules = [
        'payment_term' => 'required',
        'terms' => 'required',
        'name' => 'required',
        'phone' => 'required',
        'district' => 'required',
        'area' => 'required',
        'address' => 'required',
    ];

    if(post('address'))
    {
        $rules['address'] = 'required';
    }

    $messages = [
        'payment_term.required' => 'Please select payment method.',
        'terms.required' => 'Please select checkbox to accept terms & condition',
    ];

    $validation = Validator::make($data, $rules, $messages);

    if ($validation->fails()) {
        throw new ValidationException($validation);
    }

    $user = Auth::getUser();

    $cart = Cart::data();

    $order = new Order();
    $order->user_id = $user->id;
    $order->customer_name = $user->name;
    $order->delivery_address = [
        'name' => $data['name'],
        'phone' => $data['phone'],
        'district' => $data['district'],
        'area' => $data['area'],
        'address' => $data['address'],
    ];
    $order->billing_address = [];
    $order->payment_mothod = $data['payment_term'];
    $order->delivery_mothod = 'Cash';
    $order->tax_percent = NULL;
    $order->other_deduction = NULL;
    $order->coupon_name = NULL;
    $order->coupon_discount = NULL;
    $order->payment_status = 0;
    $order->status = 1;
    $order->remarks = $data['remarks'];
    $order->save();

    foreach($cart->items()->get() as $item)
    {
        $order_item               = new OrderItem();
        $order_item->order_id     = $order->id;
        $order_item->product_id   = $item->product_id;
        $order_item->title        = $item->product->title;
        $order_item->quantity     = $item->quantity;
        $order_item->unit         = 'Pcs';
        $order_item->size         = $item->size;
        $order_item->price        = $item->product->main_price;
        $order_item->actual_price = $item->product->price;
        $order_item->save();
    }

    Cart::clearCart();
        
    return Redirect::to('order-success');
}

==

<main id="content" role="main" class="checkout-page">

    <div class="container">
        <div class="mt-3 mb-3">
            <h3 class="text-center">Checkout</h3>
        </div>

        <form id="form-place-order">
            <div class="row">
                <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                    <div class="pl-lg-3 ">
                        <div class="bg-gray-1 rounded-lg">
                            <!-- Order Summary -->
                            <div class="p-4 mb-4 checkout-table">
                                <!-- Title -->
                                <div class="border-bottom border-color-1 mb-3">
                                    <h3 class="section-title mb-0 pb-2 font-size-25">Your order</h3>
                                </div>
                                <!-- End Title -->

                                <!-- Product Content -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart.items %}
                                        <tr class="cart_item">
                                            <td>{{ item.product.title }}&nbsp;<strong class="product-quantity">× {{ item.quantity }}</strong></td>
                                            <td>৳{{ item.subtotal }}</td>
                                        </tr>
                                       

                                        {% endfor %}

                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td>{{cart.subtotal_label}}</td>
                                        </tr>
                                        <tr>
                                            <th>Total Discount</th>
                                            <td>{{cart.total_discount_label}}</td>
                                        </tr>
                                        <tr>
                                            <th>Coupon Discount</th>
                                            <td>{{cart.coupon_discount}}</td>
                                        </tr>
                                        <tr class="text-danger">
                                            <th>{{'Net Payable Amount'|_}}</th>
                                            <td><strong>{{cart.total_label}}</strong></td>
                                        </tr>
                                        <!-- <tr>
                                            <th>Subtotal</th>
                                            <td>$1,785.00</td>
                                        </tr> -->
                                        <!-- <tr>
                                            <th>{{'Shipping + Tax'|_}}</th>
                                            <td>৳{{total_cost|number_format(2, '.', ',')}}</td>
                                        </tr>
                                        <tr>
                                            <th>{{'Total'|_}}</th>
                                            <td><strong>৳{{grand_total|number_format(2, '.', ',')}}</strong></td>
                                        </tr>
                                        <tr class="text-danger">
                                            <th>{{'Net Payable Amount'|_}}</th>
                                            <td><strong>৳{{ (grand_total - total_cost) |number_format(2, '.', ',') }}</strong></td>
                                        </tr> -->
                                    </tfoot>
                                </table>
                                <!-- End Product Content -->
                                <div class="border-top border-width-3 border-color-1 pt-3 mb-3">
                                    <!-- Basics Accordion -->
                                    <div id="basicsAccordion1">
                                       

                                        <!-- Card -->
                                        <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingTwo">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="secondStylishRadio1" name="stylishRadio">
                                                    <label class="custom-control-label form-label collapsed" for="secondStylishRadio1" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
                                                        Check payments
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseTwo" class="border-top border-color-1 border-dotted-top bg-dark-lighter collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion1" style="">
                                                <div class="p-4">
                                                    Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->

                                        <!-- Card -->
                                        <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingThree">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="thirdstylishRadio1" name="payment_term">
                                                    <label class="custom-control-label form-label collapsed" for="thirdstylishRadio1" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
                                                        Cash on delivery
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseThree" class="border-top border-color-1 border-dotted-top bg-dark-lighter collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion1" style="">
                                                <div class="p-4">
                                                    Pay with cash upon delivery.
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->

                                         <!-- Card -->
                                         <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingOne">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="stylishRadio1" name="payment_term" value="0">
                                                    <label class="custom-control-label form-label collapsed" for="stylishRadio1" data-toggle="collapse" data-target="#basicsCollapseOnee" aria-expanded="false" aria-controls="basicsCollapseOnee">
                                                        {{'Direct bank transfer'|_}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseOnee" class="border-top border-color-1 border-dotted-top bg-dark-lighter collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion1" style="">
                                                <div class="p-4">
                                                    <div class="font-size-12 mb-2">{{'Please submit the order and send the payable amount to our bank account and update payment information from order list.'|_}}</div>
                                                    <b>Account Details:</b> <br>
                                                    A/C Name: AIS BUSINESS CONSULTANT <br>
                                                    CD:20501020101193206 <br>
                                                    Islami Bank Bangladesh limited <br>
                                                    Branch:  Local Office Dhaka. Bangladesh <br>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->

                                        <!-- Card -->
                                        <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingFour">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="FourstylishRadio1" name="payment_term" value="1">
                                                    <label class="custom-control-label form-label" for="FourstylishRadio1" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
                                                        {{'Online Payment'|_}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseFour" class="collapse border-top border-color-1 border-dotted-top bg-dark-lighter" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion1">
                                                <div class="p-4">
                                                    {{'You can pay online with any of your credit / debit cards or mobile bank accounts.'|_}}
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->
                                        <!-- Card -->
                                        <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingFour">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="FourstylishRadio1" name="payment_term" value="COD">
                                                    <label class="custom-control-label form-label" for="FourstylishRadio1" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
                                                        {{'Cash on delivery'|_}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseFour" class="collapse border-top border-color-1 border-dotted-top bg-dark-lighter" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion1">
                                                <div class="p-4">
                                                    {{'Pay when you received the product.'|_}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Card -->
                                    </div>
                                    <!-- End Basics Accordion -->
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between px-3 mb-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" id="defaultCheck10" name="terms">
                                        <label class="form-check-label form-label" for="defaultCheck10">
                                            {{'I have read and agree to the website'|_}} <a href="{{ url('terms-of-services') }}" class="text-blue">{{'terms and conditions'|_}} </a>
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </div>

                                
                                <button type="button" 
                                    class="btn btn-primary-dark btn-block btn-pill font-size-20 mb-3 py-3"
                                    onclick="this.style.display='none'; this.innerText='Processing…';" 
                                    data-request-form="#form-place-order" 
                                    data-request="onSubmitOrder" 
                                    data-request-success="if(data.status){$('#form-pay-online').submit()}"
                                    data-request-complete="if(data.statusText == 'Not Acceptable'){this.style.display='block'; this.innerText='{{'Place order'|_}}';}"
                                    data-request-flash>
                                    {{'Place order'|_}}
                                                        
                                </button>
                                
                            </div>
                            <!-- End Order Summary -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 order-lg-1">
                    <div class="pb-7 mb-7">
                        <!-- Title -->
                        <div class="border-bottom border-color-1 mb-5">
                            <h3 class="section-title mb-0 pb-2 font-size-25">{{'Shipping details'|_}}</h3>
                        </div>
                        <!-- End Title -->

                        <!-- Billing Form -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Full name'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="name" placeholder="{{ user.name }}" value="{{ user.name }}">
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Phone'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="phone" placeholder="{{ user.phone }}" value="{{ user.phone }}">
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'District'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control custom-select" name="district" id="">
                                        <option value="">Select District</option>
                                        {% for data in districts %}
                                        <option value="{{ data.name }}">{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Area'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control custom-select" name="area" id="">
                                        <option value="">Select Area</option>
                                        {% for data in districts %}
                                        <option value="{{ data.name }}">{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="w-100"></div>

                            <div class="col-md-12">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Address'|_}}
                                    </label>
                                    <input type="text" class="form-control" name="address" placeholder="{{ user.address }}" value="{{ user.address }}">
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="w-100"></div>
                        </div>
                        <!-- End Billing Form -->

                        <!-- Input -->
                        <div class="js-form-message mb-6">
                            <label class="form-label">
                                {{'Order notes (optional)'|_}}
                            </label>

                            <div class="input-group">
                                <textarea class="form-control p-5" rows="4" name="remarks" placeholder="{{'Notes about your order, e.g. special notes for delivery.'|_}}"></textarea>
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Accordion -->
                        <!-- <div id="shopCartAccordion1" class="accordion rounded mb-6">
                            <div class="card border-0">
                                <div id="shopCartHeadingTwo" class="alert alert-primary mb-0" role="alert">
                                    {{'Have a coupon?'|_}} <a href="#" class="alert-link" data-toggle="collapse" data-target="#shopCartTwo" aria-expanded="false" aria-controls="shopCartTwo">{{'Click here to enter your code'|_}}</a>
                                </div>
                                <div id="shopCartTwo" class="collapse border border-top-0 p-3" aria-labelledby="shopCartHeadingTwo" data-parent="#shopCartAccordion1" style="">
                                    <form class="js-validate p-5" novalidate="novalidate">
                                        <div class="input-group input-group-pill max-width-660-xl">
                                            <input type="text" class="form-control" name="coupon_code" placeholder="Coupon code" aria-label="Promo code">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-block btn-dark font-weight-normal btn-pill px-4">
                                                    <i class="fas fa-tags d-md-none"></i>
                                                    <span class="d-none d-md-inline">{{'Apply'|_}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Accordion -->
                    </div>
                </div>
            </div>
        </form>
        <div id="pay-online">

        </div>
        
    </div>
</main>

{% component 'account' template='fixed' %}

{% put scripts %}
<script>
    $(document).on('ready', function () {
        setTimeout(function(){$('#sidebarNavToggler').click();}, 100);
    });
</script>
{% endput %}