title = "Invoice"
layout = "invoice"
url = "/invoice/:id"

[shopOrders]
order_id={{:id}}
==

{% put title %}
    <title>{{ order.delivery_address['name'] }} - {{ this.page.title }}</title>
{% endput %}

<!-- shop body section start -->
<section class="cart-body mb-90 mt-100 pt-35">
    <div class="has-breadcrumb-content">
        <div class="container container-1430">
            <div class="cart-body-content">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="row">
                            <table class="table borderless">
                                <tr>
                                    <td>
                                        <div class="logo">
                                            <a href="{{ url('/') }}" id="imageContainer"><img src="{{ site_logo }}" alt="" width="140px"></a>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                       <strong>Invoice</strong> <br>
                                        Order #{{order.order_number}}
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="product-content">
                                    <div class="table-responsive">
                                        <table class="table table-2">
                                            <thead>
                                                <tr>
                                                    <th width="30%" class="remove-porduct">From</th>
                                                    <th width="45%" class="product-title">To</th>
                                                    <th width="25%" class="total text-center">Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                
                                                <tr>
                                                    <td>{{ site_description | raw }}</td>
                                                    <td>
                                                        <span> <strong>{{ order.delivery_address['name'] }}</strong> </span><br/>
                                                        <span> {{ order.delivery_address['address'] }} </span><br/>
                                                        <span> {{ order.delivery_address['area'] }}, {{ order.delivery_address['city'] }}, {{ order.delivery_address['region'] }} </span><br/>
                                                        <span> Phone: {{ order.delivery_address['phone'] }} </span><br/> 
                                                        {% if order.delivery_address['email'] %}    
                                                        <span> Email: {{ order.delivery_address['email'] }} </span> 
                                                        {% endif %}     
                                                    </td>
                                                    
                                                    <td class="text-center">
                                                        {{ order.shipping_method.name }} <br>

                                                        {{ order.payment_method.name }}
                                
                                                        <div class="payment-status">
                                                            <span class="badge badge-{{order.payment_status ? 'success' : 'danger'}}">{{order.payment_status ? 'Paid' : 'Unpaid'}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="table-responsive">
                                        <table class="table table-2">
                                            <thead>
                                                <tr><th colspan="6"><h6>Order Details</h6></th></tr>
                                                <tr>
                                                    <th class="">Sl.</th>
                                                    <th class="remove-porduct">Product</th>
                                                    <th class="product-title">Actual Price</th>
                                                    <th class="product-title">Price</th>
                                                    <th class="text-center" width="2%" class="product-title">Quantity</th>
                                                    <th class="quantity text-right">Subtotal</th>
                                                </tr>
                                                {% for item in order.items %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td>
                                                        <a target="_blank" href="{{url('/')}}/product-details/{{ item.product.slug }}">{{ item.title }} <strong>({{ item.product.id }})</strong></a>
                                                        {% if item.color %}
                                                        <br>Color: {{ item.color }}
                                                        {% endif %}
                                                        {% if item.size %}
                                                        <br>Size: {{ item.size }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ item.actual_price_label }}</td>
                                                    <td>{{ item.price_label }}/{{ item.unit }}</td>
                                                    <td class="text-center">{{ item.quantity }}</td>
                                                    <td class="text-right">{{ item.subtotal_label }}</td>
                                                </tr>
                                                {% endfor %}
                                
                                                {% if order.remarks %}
                                                <tr>
                                                    <th colspan="6">
                                                        *Note: {{ order.remarks | raw}}
                                                    </th>
                                                </tr>
                                                {% endif %}
                                                                                

                                            </tbody>
                                        </table>
                                        <table class="table table-2">
                                            <tr>
                                                
                                                <th class="text-right" style="width: 85%;">
                                                    Subtotal <br>
                                                    Discount <br>
                                                    Shipping <br>
                                                    <!-- Tax ({{order.tax_percent}}%) <br> -->
                                                    Grand Total <br>
                                                </th>
                                                <th class="quantity text-right">
                                                    {{ order.subtotal_label }} <br>
                                                    {{ order.total_discount_label }} <br>
                                                    {{ order.shipping_method.price_label }} <br>
                                                    <!-- {{ order.tax_amount_label }} <br> -->
                                                    {{ order.total_label }} <br>
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop body section end -->
