title = "Checkout"
url = "/checkout"
layout = "default"
is_hidden = 0

[shopUser]

[shopCheckout]

[shopLocations]
==

<main id="content" role="main" class="checkout-page">

    <div class="container">
        <div class="mt-3 mb-3">
            <h3 class="text-center">Checkout</h3>
        </div>

        <form id="form-place-order">
            <div class="row">
                <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                    <div class="pl-lg-3 ">
                        <div class="bg-gray-1 rounded-lg">
                            <!-- Order Summary -->
                            <div class="p-4 mb-4 checkout-table">
                                <!-- Title -->
                                <div class="border-bottom border-color-1 mb-3">
                                    <h3 class="section-title mb-0 pb-2 font-size-25">Your order</h3>
                                </div>
                                <!-- End Title -->

                                <!-- Product Content -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart.items %}
                                        <tr class="cart_item">
                                            <td>{{ item.product.title }}&nbsp;<strong class="product-quantity">× {{ item.quantity }}</strong></td>
                                            <td>৳{{ item.subtotal }}</td>
                                        </tr>
                                       

                                        {% endfor %}

                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td>{{cart.subtotal_label}}</td>
                                        </tr>
                                        <tr>
                                            <th>Coupon Discount</th>
                                            <td>{{cart.coupon_discount}}</td>
                                        </tr>
                                        <tr>
                                            <th>Total Discount</th>
                                            <td>{{cart.total_discount_label}}</td>
                                        </tr>

                                        {% if cart.shipping %}
                                        <tr>
                                            <th>Shipping Cost</th>
                                            <td>{{cart.shipping_cost_label}}</td>
                                        </tr>
                                        {% endif %}

                                        {% if cart.tax_deduction %}
                                        <tr>
                                            <th>Tax ({{cart.tax_percentage}}%)</th>
                                            <td>{{cart.tax_amount_label}}</td>
                                        </tr>
                                        {% endif %}
                                        
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">{{cart.total_label}}</span></strong>
                                            </td>
                                        </tr>

                                        {% if not cart.shipping %}
                                        <tr class="shipping">
                                            <th>Shipping Method:</th>
                                            <td>
                                                <ul>
                                                    {% for item in shipping_methods %}
                                                    <li>
                                                        <input type="radio" name="shipping_method_id" value="{{item.id}}"/>
                                                        <label>
                                                            {{item.name}}
                                        
                                                            {% if item.price %}
                                                            : <span class="amount">{{ item.price_label }}</span>
                                                            {% endif %}
                                                        </label>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tfoot>
                                </table>
                                <!-- End Product Content -->
                                <div class="border-top border-width-3 border-color-1 pt-3 mb-3">
                                    <!-- Basics Accordion -->
                                    <div id="basicsAccordion1">
                                       

                                        <!-- Card -->
                                        <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingTwo">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="secondStylishRadio1" name="stylishRadio">
                                                    <label class="custom-control-label form-label collapsed" for="secondStylishRadio1" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
                                                        Check payments
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseTwo" class="border-top border-color-1 border-dotted-top bg-dark-lighter collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion1" style="">
                                                <div class="p-4">
                                                    Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->

                                        <!-- Card -->
                                        <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingThree">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="thirdstylishRadio1" name="payment_term">
                                                    <label class="custom-control-label form-label collapsed" for="thirdstylishRadio1" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
                                                        Cash on delivery
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseThree" class="border-top border-color-1 border-dotted-top bg-dark-lighter collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion1" style="">
                                                <div class="p-4">
                                                    Pay with cash upon delivery.
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->

                                         <!-- Card -->
                                         <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingOne">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="stylishRadio1" name="payment_term" value="0">
                                                    <label class="custom-control-label form-label collapsed" for="stylishRadio1" data-toggle="collapse" data-target="#basicsCollapseOnee" aria-expanded="false" aria-controls="basicsCollapseOnee">
                                                        {{'Direct bank transfer'|_}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseOnee" class="border-top border-color-1 border-dotted-top bg-dark-lighter collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion1" style="">
                                                <div class="p-4">
                                                    <div class="font-size-12 mb-2">{{'Please submit the order and send the payable amount to our bank account and update payment information from order list.'|_}}</div>
                                                    <b>Account Details:</b> <br>
                                                    A/C Name: AIS BUSINESS CONSULTANT <br>
                                                    CD:20501020101193206 <br>
                                                    Islami Bank Bangladesh limited <br>
                                                    Branch:  Local Office Dhaka. Bangladesh <br>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->

                                        <!-- Card -->
                                        <!-- <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeadingFour">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="FourstylishRadio1" name="payment_term" value="1">
                                                    <label class="custom-control-label form-label" for="FourstylishRadio1" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
                                                        {{'Online Payment'|_}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapseFour" class="collapse border-top border-color-1 border-dotted-top bg-dark-lighter" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion1">
                                                <div class="p-4">
                                                    {{'You can pay online with any of your credit / debit cards or mobile bank accounts.'|_}}
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- End Card -->

                                        {% for item in payment_methods %}
                                        <!-- Card -->
                                        <div class="border-bottom border-color-1 border-dotted-bottom">
                                            <div class="p-3" id="basicsHeading{{ item.id }}">
                                                <div class="custom-control custom-radio">
                                                    <input id="FourstylishRadio{{ item.id }}" class="custom-control-input" type="radio" name="payment_method" value="{{ item.id }}"/>
                                                    <label class="custom-control-label form-label" for="FourstylishRadio{{ item.id }}" data-toggle="collapse" data-target="#basicsCollapse{{ item.id }}" aria-expanded="false" aria-controls="basicsCollapse{{ item.id }}">
                                                        {{item.name}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="basicsCollapse{{ item.id }}" class="collapse border-top border-color-1 border-dotted-top bg-dark-lighter" aria-labelledby="basicsHeading{{ item.id }}" data-parent="#basicsAccordion1">
                                                <div class="p-4">
                                                    {{item.description | raw}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Card -->
                                        {% endfor %}

                                        
                                    </div>
                                    <!-- End Basics Accordion -->
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between px-3 mb-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" id="defaultCheck10" name="terms">
                                        <label class="form-check-label form-label" for="defaultCheck10">
                                            {{'I have read and agree to the website'|_}} <a href="{{ url('terms-of-services') }}" class="text-blue">{{'terms and conditions'|_}} </a>
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </div>
                                
                                
                                <button type="button" 
                                    class="btn btn-primary-dark btn-block btn-pill font-size-20 mb-3 py-3"
                                    onclick="this.style.display='none'; this.innerText='Processing…';" 
                                    data-request-form="#form-place-order" 
                                    data-request="onPlaceOrder" 
                                    data-request-success="if(data.status){$('#form-pay-online').submit()}"
                                    data-request-complete="if(data.statusText == 'Not Acceptable'){this.style.display='block'; this.innerText='{{'Place order'|_}}';}"
                                    data-request-flash>
                                    {{'Place order'|_}}
                                                        
                                </button>
                                
                            </div>
                            <!-- End Order Summary -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 order-lg-1">
                    <div class="pb-7 mb-7">
                        <!-- Title -->
                        <div class="border-bottom border-color-1 mb-5">
                            <h3 class="section-title mb-0 pb-2 font-size-25">{{'Shipping details'|_}}</h3>
                        </div>
                        <!-- End Title -->

                        <!-- Billing Form -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Full name'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="delivery_address[name]" placeholder="{{ user.name }}" value="{{ user.name }}">
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Phone'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="delivery_address[phone]" placeholder="{{ user.phone }}" value="{{ user.phone }}">
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Email'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="delivery_address[email]" placeholder="{{ user.email }}" value="{{ user.email }}">
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Region'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control custom-select" name="delivery_address[region]" 
                                            onchange="$.request('onChangeRegion', {data: {name: this.value}})">

                                        <option value="">Select Regions</option>
                                        {% for data in regions %}
                                        <option value="{{ data.name }}">{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'City'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control custom-select" name="delivery_address[city]" id="cities"
                                        onchange="$.request('onChangeCity', {data: {name: this.value}})">
                                        <option value="">Select City</option>
                                    </select>
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="col-md-6">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Area'|_}}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control custom-select" name="delivery_address[area]" id="areas">
                                        <option value="">Select Area</option>
                                    </select>
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="w-100"></div>

                            <div class="col-md-12">
                                <!-- Input -->
                                <div class="js-form-message mb-6">
                                    <label class="form-label">
                                        {{'Address'|_}}
                                    </label>
                                    <input type="text" class="form-control" name="delivery_address[address]" placeholder="{{ user.address }}" value="{{ user.address }}">
                                </div>
                                <!-- End Input -->
                            </div>

                            <div class="w-100"></div>
                        </div>
                        <!-- End Billing Form -->

                        <!-- Input -->
                        <div class="js-form-message mb-6">
                            <label class="form-label">
                                {{'Order notes (optional)'|_}}
                            </label>

                            <div class="input-group">
                                <textarea class="form-control p-5" rows="4" name="remarks" placeholder="{{'Notes about your order, e.g. special notes for delivery.'|_}}"></textarea>
                            </div>
                        </div>
                        <!-- End Input -->
                    </div>
                </div>
            </div>
        </form>
        <div id="pay-online">

        </div>
        
    </div>
</main>