{% if results %}

{% for data in results %}
<li class="col-6 col-md-4 col-xl-3 product-item">
    <div class="product-item__outer h-100">
        <div class="product-item__inner px-xl-4 p-3">
            <div class="product-item__body pb-xl-2">
                <!-- <div class="mb-2"><a href="{{ url('product-details/' ~  data.slug) }}" class="font-size-12 text-gray-5">Speakers</a></div> -->
                <h5 class="mb-1 product-item__title"><a href="{{ url('product-details/' ~  data.slug) }}" class="text-blue font-weight-bold">{{ data.title }}</a></h5>
                <div class="mb-2">
                    <a href="{{ url('product-details/' ~  data.slug) }}" class="d-block text-center"><img class="img-fluid" src="{{ data.featuredPhoto()  }}" alt="Image Description"></a>
                </div>
                <div class="flex-center-between mb-1">
                    {% if data.discount > 0 %}
                    <div class="prodcut-price d-flex align-items-center flex-wrap position-relative">
                        <ins class="font-size-20 text-red text-decoration-none mr-2">{{ data.price_label }}</ins>
                        <del class="font-size-12 tex-gray-6 position-absolute bottom-100">{{ data.original_price_label }}</del>
                    </div>
                    {% else %}
                    <div class="prodcut-price">
                        <div class="text-gray-100">{{ data.price_label }}</div>
                    </div>
                    {% endif %}

                    <div class="d-none d-xl-block prodcut-add-cart">
                        <a class="btn-add-cart btn-primary transition-3d-hover"
                            data-request="onAddToCart"
                            data-request-data="product_id: {{ data.id }}, quantity: 1, color: '{{ data.default_color }}', size: '{{ data.default_size }}'"
                            data-request-flash><i class="ec ec-add-to-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="product-item__footer">
                <div class="border-top pt-2 flex-center-between flex-wrap">
                    <a href="https://transvelo.github.io/electro-html/2.0/html/shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                    <a href="https://transvelo.github.io/electro-html/2.0/html/shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-shopping-bag mr-1 font-size-15"></i> Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</li>
{% endfor %}

{% endif %}