<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header-left-aligned-nav">
    <div class="u-header__section">
        {% partial 'topnavbar' %}
        

        <!-- Logo and Menu -->
        <div class="py-2 py-xl-4 bg-primary-down-lg">
            <div class="container my-0dot5 my-xl-0">
                <div class="row align-items-center">
                    <!-- Logo-offcanvas-menu -->
                    <div class="col-auto">
                        <!-- Nav -->
                        <nav class="navbar navbar-expand u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                            <!-- Logo -->
                            <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="{{ url('/') }}" aria-label="Electro">
                                {% partial 'logo' %}                                         
                            </a>
                            <!-- End Logo -->

                            <!-- Fullscreen Toggle Button -->
                            <button id="sidebarHeaderInvokerMenu" type="button" class="navbar-toggler d-block btn u-hamburger mr-3 mr-xl-0"
                                aria-controls="sidebarHeader"
                                aria-haspopup="true"
                                aria-expanded="false"
                                data-unfold-event="click"
                                data-unfold-hide-on-scroll="false"
                                data-unfold-target="#sidebarHeader1"
                                data-unfold-type="css-animation"
                                data-unfold-animation-in="fadeInLeft"
                                data-unfold-animation-out="fadeOutLeft"
                                data-unfold-duration="500">
                                <span id="hamburgerTriggerMenu" class="u-hamburger__box">
                                    <span class="u-hamburger__inner"></span>
                                </span>
                            </button>
                            <!-- End Fullscreen Toggle Button -->
                        </nav>
                        <!-- End Nav -->

                        <!-- ========== HEADER SIDEBAR ========== -->
                        <aside id="sidebarHeader1" class="u-sidebar u-sidebar--left" aria-labelledby="sidebarHeaderInvokerMenu">
                            <div class="u-sidebar__scroller">
                                <div class="u-sidebar__container">
                                    <div class="u-header-sidebar__footer-offset pb-0">
                                        <!-- Toggle Button -->
                                        <div class="position-absolute top-0 right-0 z-index-2 pt-4 pr-7">
                                            <button type="button" class="close ml-auto"
                                                aria-controls="sidebarHeader"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                                data-unfold-event="click"
                                                data-unfold-hide-on-scroll="false"
                                                data-unfold-target="#sidebarHeader1"
                                                data-unfold-type="css-animation"
                                                data-unfold-animation-in="fadeInLeft"
                                                data-unfold-animation-out="fadeOutLeft"
                                                data-unfold-duration="500">
                                                <span aria-hidden="true"><i class="ec ec-close-remove text-gray-90 font-size-20"></i></span>
                                            </button>
                                        </div>
                                        <!-- End Toggle Button -->

                                        <!-- Content -->
                                        <div class="js-scrollbar u-sidebar__body">
                                            <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content">
                                                <!-- Logo -->
                                                <a class="d-flex ml-0 mb-3 navbar-brand u-header__navbar-brand u-header__navbar-brand-vertical" href="{{ url('/') }}" aria-label="Import Park">
                                                    {% partial 'logo' %}      
                                                </a>
                                                <!-- End Logo -->
                                                <div>
                                                    <a href="tel:+8801710479506" class="text-gray-90"><i class="ec ec-phone mr-1"></i> {{'(+880) 1710 479 506'|_}}</a>
                                                </div>

                                                {% if user %}
                                                <div>
                                                    <a href="{{ url('user-profile') }}" class="text-gray-90"><i class="ec ec-user mr-1"></i> Hello, {{ user.name }}</a>
                                                </div>
                                                {% endif %}

                                                <!-- List -->
                                                <ul id="headerSidebarList" class="u-header-collapse__nav mt-3">

                                                    {% partial 'menu/default' template= 'mobile' code = 'main-menu-' ~ activeLocale %}
                                                    

                                                    <!-- Languages -->
                                                    <li class="u-has-submenu u-header-collapse__submenu">
                                                        <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarLanguageCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarLanguageCollapse">
                                                            {{ 'Language'|_ }}
                                                        </a>

                                                        <div id="headerSidebarLanguageCollapse" class="collapse" data-parent="#headerSidebarContent">
                                                            <ul id="headerSidebarLanguageMenu" class="u-header-collapse__nav-list">
                                                                <!-- Languages v1 -->
                                                                <li><a class="u-header-collapse__submenu-nav-link" href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'"><i class="flag-us"></i> {{'English'|_}}</a>
                                                                <!-- End Languages v1 -->

                                                                <!-- Languages v2 -->
                                                                <li><a class="u-header-collapse__submenu-nav-link" href="#" data-request="onSwitchLocale" data-request-data="locale: 'bn'"><i class="flag-bn"></i> {{'Bangla'|_}}</a>
                                                                <!-- End Languages v2 -->
                                                                
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <!-- End Languages -->

                                                    <!-- My Panel -->
                                                    {% if user %}
                                                    <li class="u-has-submenu u-header-collapse__submenu">
                                                        <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarPanelCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarPanelCollapse">
                                                            {{ 'My Account'|_ }}
                                                        </a>

                                                        <div id="headerSidebarPanelCollapse" class="collapse" data-parent="#headerSidebarContent">
                                                            <ul id="headerSidebarPanelMenu" class="u-header-collapse__nav-list">
                                                                <li><a class="u-header-collapse__submenu-nav-link" href="{{ url('user-profile') }}"><i class="flag-us"></i> {{'Update Profile'|_}}</a>
                                                                <li><a class="u-header-collapse__submenu-nav-link" href="{{ url('wish-list') }}"><i class="flag-bn"></i> {{'Wish List'|_}}</a>
                                                                <li><a class="u-header-collapse__submenu-nav-link" href="{{ url('order-requests') }}"><i class="flag-bn"></i> {{'Order List'|_}}</a>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                                    <!-- End My Panel -->
                                                </ul>
                                                <!-- End List -->

                                                {% if user %}
                                                <div>
                                                    <a href="{{ url('logout') }}" class="text-gray-90">{{'LOGOUT'|_}}</a>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- End Content -->
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <!-- ========== END HEADER SIDEBAR ========== -->
                    </div>
                    <!-- End Logo-offcanvas-menu -->
                    <!-- Primary Menu -->
                    <div class="col d-none d-xl-block">
                        <!-- Nav -->
                        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                            <!-- Navigation -->
                            <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                                

                                <ul class="navbar-nav u-header__navbar-nav">


                                    {% partial 'menu/default' template= 'items' code = 'main-menu-' ~ activeLocale %}
                                    
                                </ul>
                            </div>
                            <!-- End Navigation -->
                        </nav>
                        <!-- End Nav -->
                    </div>
                    <!-- End Primary Menu -->
                    <!-- Customer Care -->
                    <div class="d-none d-xl-block col-md-auto">
                        <div class="d-flex">
                            <i class="ec ec-support font-size-50 text-primary"></i>
                            <div class="ml-2">
                                <div class="phone">
                                    <strong>{{'Support'|_}}</strong> <a href="tel:+8801710479506" class="text-gray-90"> {{'(+880) 1710 479 506'|_}}</a>
                                </div>
                                <div class="phone">
                                    <!-- <a href="mailto:importparkbd@gmail.com" class="text-gray-90">importparkbd@gmail.com</a> -->
                                    <a href="tel:+8801816600042" class="text-dark"> {{'0181 66 000 42'|_}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Customer Care -->
                    <!-- Header Icons -->
                    <div class="d-xl-none col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static">
                        <div class="d-inline-flex">
                            <ul class="d-flex list-unstyled mb-0 align-items-center">
                                <!-- Search -->
                                <li class="col d-xl-none px-2 px-sm-3 position-static">
                                    <a id="searchClassicInvoker" class="font-size-22 text-gray-90 text-lh-1 btn-text-secondary" href="javascript:;" role="button"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Search"
                                        aria-controls="searchClassic"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        data-unfold-target="#searchClassic"
                                        data-unfold-type="css-animation"
                                        data-unfold-duration="300"
                                        data-unfold-delay="300"
                                        data-unfold-hide-on-scroll="true"
                                        data-unfold-animation-in="slideInUp"
                                        data-unfold-animation-out="fadeOut">
                                        <span class="ec ec-search"></span>
                                    </a>

                                    <!-- Input -->
                                    <div id="searchClassic" class="dropdown-menu dropdown-unfold dropdown-menu-right left-0 mx-2" aria-labelledby="searchClassicInvoker">
                                        <form class="js-focus-state input-group px-3" method="post" enctype="multipart/form-data" data-request="onSearchProduct" data-request-files data-request-flash>
                                            <input class="form-control" type="search" name="search_query" id="search-product" placeholder="{{'Search product you want'|_}}">
                                            <!-- <input type="file" name="product_photo" id="image-upload-xs" style="display: none;" onchange="previewFileXs()"/>  -->
                                            <div class="input-group-append">
                                                <!-- <button class="btn btn-primary px-3 " type="button" id="upload-photo-xs" onclick="$('#image-upload-xs').trigger('click');" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<img id="img-preview-xs" class="ml-2" src="https://dummyimage.com/100x100/fff/000000.jpg&text=Please+Wait" height="100" alt="Image preview..."><div class="pl-2 font-size-12">Searching product...</div>'>
                                                    <span class="ec ec-cameras font-size-18"></span>
                                                </button> -->
                                                <button id="search-btn-xs" class="btn btn-primary px-3" type="submit"><i class="font-size-18 ec ec-search"></i></button>
                                            </div>
                                        </form>

                                        <!-- <img id="img-preview-xs" class="ml-2" src="" height="100" alt="Image preview...">
                                        <div class="pl-2 font-size-12">Searching product...</div> -->
                                    </div>
                                    <!-- End Input -->
                                </li>
                                <!-- End Search -->
                                <!-- <li class="col d-none d-xl-block"><a href="" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Compare"><i class="font-size-22 ec ec-compare"></i></a></li> -->
                                <li class="col pr-xl-0 px-2 px-sm-3"><a href="{{ url('wish-list') }}" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Favorites"><i class="font-size-22 ec ec-favorites"></i></a></li>
                                <!-- <li class="col d-xl-none px-2 px-sm-3">
                                    <a href="" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="My Account"
                                                aria-controls="sidebarContent"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                                data-unfold-event="click"
                                                data-unfold-hide-on-scroll="false"
                                                data-unfold-target="#sidebarContent"
                                                data-unfold-type="css-animation"
                                                data-unfold-animation-in="fadeInRight"
                                                data-unfold-animation-out="fadeOutRight"
                                                data-unfold-duration="500">
                                        <i class="font-size-22 ec ec-user"></i>
                                    </a>
                                </li> -->
                                <li class="col pr-xl-0 px-2 px-sm-3">
                                    <a href="{{ url('shopping-cart') }}" class="text-gray-90 position-relative d-flex " data-toggle="tooltip" data-placement="top" title="Cart">
                                        <i class="font-size-22 ec ec-shopping-bag"></i>
                                        <span class="cartcount width-22 height-22 bg-dark position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12 text-white">
                                            {% component 'de' partial='count' %}
                                        </span>
                                    </a>
                                </li>
                                <li class="col pr-xl-0 px-2 px-sm-3">
                                    <a href="{{ url('order-requests') }}" class="text-gray-90 position-relative d-flex " data-toggle="tooltip" data-placement="top" title="Orders">
                                        <i class="font-size-22 ec ec-category-icon"></i>
                                        <span class="width-22 height-22 bg-dark position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12 text-white">0</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Header Icons -->
                </div>
            </div>
        </div>
        <!-- End Logo and Menu -->

        {% partial 'top-search-bar' %}
    </div>
</header>
<!-- ========== END HEADER ========== -->

{% put scripts %}
    <script type="text/javascript">
        function previewFileXs() 
        {
            // var preview = document.querySelector('#img-preview-xs');
            var preview = document.querySelector('#img-preview-xs');
            var file    = document.querySelector('#image-upload-xs').files[0];
            var reader  = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                // document.querySelector('#imageClassicInvoker').click();
                document.querySelector('#search-btn-xs').click();
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
{% endput %}