<!-- footer section start -->
<section class="footer">
    <div class="footer-top mt-120" style="background-color: #f5f5f5;">
        

    </div>
    <!-- footer top -->

    <div class="footer-bottom pt-30" style="background-color: #292929;">
        <div class="container-1180">
            <div class="footer-bottom-wrapper">
                <div class="footer-bottom-primary pb-30">
                    <div class="row">
                        
                        <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="copy_text"> Copyright © 2021 BOL. All Rights Reserved.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- footer section end -->