<!-- product popup start -->
<section id="product-popup">
    <div class="product-popup-overlay"></div>
    <div class="product-popup-container">
        <div class="product-inner w-100">
            <div class="product-inner-content">
                <div class="quick-close-action"><i class="fal fa-times"></i></div>
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-popup-1">
                                <div class="product-popup-img">
                                    <img src="{{ 'assets/images/product/10.jpg' | theme }}" class="w-100" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-popup-2">
                                <div class="product-popup-img">
                                    <img src="{{ 'assets/images/product/11.jpg' | theme }}" class="w-100" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-popup-3">
                                <div class="product-popup-img">
                                    <img src="{{ 'assets/images/product/12.jpg' | theme }}" class="w-100" alt="">
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-pills justify-content-center mt-10">
                            <li class="nav-item">
                                <a class="active" data-toggle="pill" href="#product-popup-1">
                                    <img src="{{ 'assets/images/product/10.jpg' | theme }}" class="w-100" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="" data-toggle="pill" href="#product-popup-2">
                                    <img src="{{ 'assets/images/product/11.jpg' | theme }}" class="w-100" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="" data-toggle="pill" href="#product-popup-3">
                                    <img src="{{ 'assets/images/product/12.jpg' | theme }}" class="w-100" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6">
                        <div class="product-content">
                            <div class="product-title">
                                <h2>Nari Narwhal Usb...</h2>
                            </div>
                            <div class="price">$<span>44.00</span>–<span>$250.00</span></div>
                            <a href="single-product-3.html" class="all-feature">See all feature</a>
                            <div class="quick-quantity mt-30">
                                <form action="#" method="POST">
                                    <input type="number" value="1">
                                    <button type="submit" class="generic-btn red-hover-btn text-capitalize">add to
                                        cart</button>
                                </form>
                            </div>

                            <div class="product-desc pb-20 mt-25 gray-border-top">
                                <p class="mb-0">Typi non habent claritatem insitam, est usus legentis in iis qui
                                    facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius
                                    quod ii legunt saepius. Claritas est etiam processus A Capitalize on low hanging
                                    fruit to identify a ballpark value added activity to beta test. Override the
                                    digital...ditional clickthroughs from DevOps. Nanotechnology immersion along the
                                    information highway will close the […]</p>
                            </div>
                            <div class="product-list mt-25">
                                <ul>
                                    <li>– Light green crewneck sweatshirt.</li>
                                    <li>– Hand pockets.</li>
                                    <li>– Relaxed fit.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product popup end -->

<!-- startup popup start -->
<section id="startup-popup" class="d-none">
    <div class="product-popup-overlay has-startup" style="opacity: 1;visibility: visible"></div>
    <div class="startup-popup-body">
        <div class="startup-body-content h-100">
            <div class="row justify-content-end h-100">
                <div class="col-6 h-100">
                    <div class="startup-popup-inner h-100">
                        <div class="close-search-popup">
                            <i class="fal fa-times"></i>
                        </div>
                        <div class="startup-popup-main-content">
                            <h2>Get Our Email Letter</h2>
                            <p class="mb-0">Subscribe to the Mazia store mailing list to receive updates on new
                                arrivals, special offers
                                and other discount information.</p>
                            <div class="startup-subscribe-form">
                                <form action="#" method="POST">
                                    <input type="text" placeholder="Subscribe to our newsletter" class="mb-30">
                                    <button class="generic-btn red-hover-btn text-uppercase">Subscribe now</button>
                                </form>
                            </div>
                        </div>
                        <div class="startup-popup-sub-content">
                            <div class="popup-warning">
                                <input type="checkbox" id="startup-popup-hidden">
                                <label for="startup-popup-hidden">Do not show the popup again</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- startup popup end -->